JWT_SECRET_KEY=chave_secreta_aqui
FRONTEND_URL=http://localhost:5173
MP_ACCESS_TOKEN=seu_access_token_do_mercado_pago
MP_PUBLIC_KEY=sua_public_key_do_mercado_pago

# Valores ficticios; mostrando quais variáveis o projeto precisa pra rodar